<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet> -->
<div class="container">
  <h3>First Application by Angular</h3>
  <input type="text" class="form-control" [(ngModel)]="title">
  <p>{{ title }}</p>
  <!-- Two way data bindings -->
  <input type="text" class="form-control" [(ngModel)]="titleName">
  <p>{{ titleName }}</p>

  <table class="email-table">
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>DOB</th>
        <th>Age</th>
        <th>Designation</th>
        <th >Status</th>
        <th>Details</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Nouman</td>
        <td>Hassan</td>
        <td>16-08-1992</td>
        <td>26</td>
        <td>Front End Developer</td>
        <!-- Styling elements dynamically using ngStyle, nGClass is not working with this -->
        <td [ngStyle]="{color: getColor()}" [ngClass]="{present: status === 'Present'}">{{getStatus()}}</td>
        <td>
          <ul class="action-list list-unstyled">
            <li><button class="btn btn-primary" [disabled] = "allowEdit">Edit</button></li>
            <li><button class="btn btn-primary">Delete</button></li>
          </ul>
        </td>
        <!-- <td><time datetime="">2019, Jan 09</time></td>
        <td>Yes</td>
        <td>In Progress</td>
         -->
      </tr>
      <tr>
        <td>1</td>
        <td>Nouman</td>
        <td>Hassan</td>
        <td>16-08-1992</td>
        <td>26</td>
        <td>Front End Developer</td>
        <!-- Applying CSS classes dynamically used ngClass -->
        <td [ngClass]="{present: status === 'Present'}">{{getStatus()}}</td>
        <td>
          <ul class="action-list list-unstyled">
            <li><button class="btn btn-primary" [disabled] = "allowEdit">Edit</button></li>
            <li><button class="btn btn-primary">Delete</button></li>
          </ul>
        </td>
        <!-- <td><time datetime="">2019, Jan 09</time></td>
        <td>Yes</td>
        <td>In Progress</td>
         -->
      </tr>
    </table>
</div>